*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Jost','sans-serif';
    scroll-behavior: smooth;
}
body{
    background: #1D3249;
    color: #fff;
}
header{
   position: fixed;
   width: 100%;
   top: 0;
   right: 0;
   z-index: 1;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: transparent;
   padding: 30px 18%;
   transition: .3s;
   background: #1D3249;
}
.logo{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    cursor: auto;
}
.logo span{
    color: red;
}
.navlist{
    display: flex;
}
.navlist li{
    position: relative;
    list-style: none;
}
.navlist a{
    font-size: 1.1rem;
    color: #fff;
    font-weight: 500;
    padding: 10px 27px;
    text-decoration: none;
}
.navlist a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #f75023;
    bottom: -3px;
    left: 0;
    transition: ease .40s;
}
.navlist a:hover::after{
    width: 100%;
}
#menu-icon{
    font-size: 35px;
    color: #fff;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.top-btn{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 2px solid #f75023;
    border-radius: 30px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: ease .50s;
    text-decoration: none;
}
.top-btn:hover{
    transform: scale(1.1);
    background: #511809;
    border: 2px solid #f75023;
    color: #fff;
}
section{
    padding: 100px 18%;
}
.home{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4rem;
}
.home-text h1{
    margin: 10px 0px 35px;
    font-size: 4rem;
    line-height: 1;
    font-weight: 500;
}
.home-text h5{
    margin-bottom: 23px;
    font-size: 19px;
    font-weight: 500;
}
.home-text h3{
    color: #590404;
    font-size: 20px;
    font-weight: 500;
}
.social a{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(128, 103, 240, 1);
    font-size: 27px;
    color: #fff;
    margin-right: 22px;
    margin-bottom: 30px;
    text-decoration: none;
}
.social a:hover{
    transform: scale(1.1);
    background: #f75023;
    transition: .5s;
}
.btn{
    display: inline-block;
    color: #fff;
    background: #dc0f0f;
    font-size: 1.1rem;
    padding: 10px 40px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 30px;
    transition: ease .40s;
    text-decoration: none;
}
.btn:hover{
    transform: scale(1.1);
    background: none;
    border: 2px solid rgba(128, 103, 240, 1);
    color: #fff;
}
.home-img{
    animation: imgFloat 5s ease-in-out infinite; 
}
.home-img img{
    max-width: 100%;
    width: 540px;
    height: auto;
}
@keyframes imgFloat{
    50%{
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}

/* ----------about----------- */
#about{
    padding: 80px 0;
    color: #ababab;
}
.container{
    padding: 10px 12%;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
    margin-top: 8%;
    transform: scale(1.3);
}
.about-col-1 img{
    width: 80%;
    height: auto;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px -19px 10px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #f75023;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 5px 0;
}
.tab-contents ul li span{
    color: #f75023;
    font-size: 14px;
}
.tab-contents ul li a{
    text-decoration: none;
    color: #ababab;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* -------------services------------- */
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    /* margin-bottom: 30px; */
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #326186;
    transform: translateY(-10px);
}


#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    opacity: 1;
}
.work img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0),#3A3A92);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #3A3A92;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    transition: 0.5s;
}
.layer a:hover{
    background: #ff004f;
    color: #fff;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.btn-portfolio{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}
.btn-portfolio:hover{
    background: #ff004f;
}

/* ------------------Contact-------------------- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons-contact{
    margin-top: 30px;
}
.social-icons-contact a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: 0.5s;
}
.social-icons-contact a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn-portfolio.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    padding-left: 20px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #ff004f;
}

